@axiamatic-main:registry=https://gitlab.com/api/v4/projects/33407109/packages/npm/
//gitlab.com/:_authToken=${axm_node_package_token}
//gitlab.com/api/v4/projects/33407109/packages/npm/:_authToken=${axm_node_package_token}